[submodule "wechatqr/third_party/opencv"]
	path = wechatqr/third_party/opencv
	url = https://github.com/opencv/opencv.git
	shallow = true
[submodule "wechatqr/third_party/opencv_contrib"]
	path = wechatqr/third_party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	shallow = true
